<div class="container page">

<div class="row">
    <div class="col-xs-12 col-md-8">
        <div class="panel panel-default app">
            <div class="panel-heading">
                <h2>Account Details</h2>
            </div>
            <div class="panel-body body">
            <div class="col-md-6">
                <label>First Name</label>
                <input class="form-control" type="text" />
                </div>
                  <div class="col-md-6">
                <label>Last Name</label>
                <input class="form-control" type="text" />
                </div>
                <div class="col-md-12">
                <label>Email </label>
                <input class="form-control" type="text" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <!-- CREDIT CARD FORM STARTS HERE -->
        <div class="panel panel-default credit-card-box app">
            <div class="panel-heading display-table">
                <h2>Payment </h2>
            </div>
            <div class="panel-body body">
                <form role="form" id="payment-form" method="POST" action="javascript:void(0);">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="cardNumber">CARD NUMBER</label>
                                <div class="input-group">
                                    <input type="tel" class="form-control" name="cardNumber" placeholder="Valid Card Number" autocomplete="cc-number" required autofocus />
                                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7 col-md-7">
                            <div class="form-group">
                                <label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
                                <input type="tel" class="form-control" name="cardExpiry" placeholder="MM / YY" autocomplete="cc-exp" required />
                            </div>
                        </div>
                        <div class="col-xs-5 col-md-5 pull-right">
                            <div class="form-group">
                                <label for="cardCVC">CV CODE</label>
                                <input type="tel" class="form-control" name="cardCVC" placeholder="CVC" autocomplete="cc-csc" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="subscribe btn btn-success btn-lg btn-block" type="button">Start Subscription</button>
                        </div>
                    </div>
                    <div class="row" style="display:none;">
                        <div class="col-xs-12">
                            <p class="payment-errors"></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>