
<style>

  .numberCircle {
    display:inline-block;
    line-height:0px;

    border-radius:50%;
    border:2px solid;

    font-size:32px;
  }

  .numberCircle span {
    display:inline-block;

    padding-top:50%;
    padding-bottom:50%;

    margin-left:8px;
    margin-right:8px;
  }
  .hero-field{
    width:auto;
  }
  .hero-container{
    width:100%;
  }

  @media(max-width: 480px) {
    .hero-container  .panel-body {
      width:100%;
    }
    .panel-body img {
      width: 25px;
      height: 25px;
    }
  }
</style>

<img src="https://res.cloudinary.com/lqyghlh2f/image/upload/v1466965219/bg_abtcm1.svg" style="width:300px;margin:auto;display:block"/>

<div ng-if="error" class="alert alert-danger">
    <strong>Error</strong>  {{error}}
</div>


<div class="hero-field text-center ">
  <h1 class="">Static Website and Application Hosting</h1>
  <ul class="list-inline list-unstyled">
    <li>
      <span class="lnr lnr-laptop"></span> Multistage Environments
    </li>
    <li>
      <span class="lnr lnr-mustache"></span> GitHub Integration
    </li>
    <li>
      <span class="lnr lnr-earth"></span> Distributed Edge CDN
    </li>

  </ul>
</div>
<div class="hero hero-container container-fluid">
  <div class="panel panel-default">
    <div class="panel-body text-center">
      <img src="https://res.cloudinary.com/ngdeploy/image/upload/v1468976684/grunt-logo_osumwg.png" height="70">
      <img src="https://res.cloudinary.com/ngdeploy/image/upload/v1469115992/gulp-logo_uac9yu.png" height="70" style="margin-left:7%;">
      <img src="https://res.cloudinary.com/ngdeploy/image/upload/v1468977090/github-logo_y1nwow.png" height="70" style="margin-left:7%;">
      <img src="https://res.cloudinary.com/ngdeploy/image/upload/v1468977144/bower-logo_whs6f3.png" height="70" style="margin-left:7%;">
    </div>
  </div>
</div>


