
<style>

  .numberCircle {
    display:inline-block;
    line-height:0px;

    border-radius:50%;
    border:2px solid;

    font-size:32px;
  }

  .numberCircle span {
    display:inline-block;

    padding-top:50%;
    padding-bottom:50%;

    margin-left:8px;
    margin-right:8px;
  }
  .panel-body > img {
    margin-left:7%;
  }
</style>

<img src="https://res.cloudinary.com/lqyghlh2f/image/upload/v1466965219/bg_abtcm1.svg" style="width:300px;margin:auto;display:block"/>

<div ng-if="error" class="alert alert-danger">
    <strong>Error</strong>  {{error}}
</div>


<div class="hero-field ">
  <h1 class="text-center">Static Website and Application Hosting</h1>
  <ul class="list-inline list-unstyled text-center">
    <li>
      <span class="lnr lnr-laptop"></span> Multistage Environments
    </li>
    <li>
      <span class="lnr lnr-mustache"></span> GitHub Integration
    </li>
    <li>
      <span class="lnr lnr-earth"></span> Distributed Edge CDN
    </li>

  </ul>
</div>
<div class="hero hero-container container">
  <div class="panel panel-default">
    <div class="panel-body text-center">
      <img src="https://res.cloudinary.com/ngdeploy/image/upload/v1468976684/grunt-logo_osumwg.png" height="70">
      <img src="https://res.cloudinary.com/ngdeploy/image/upload/v1468977002/gulp-logo_qzrjhe.png" height="70">
      <img src="https://res.cloudinary.com/ngdeploy/image/upload/v1468977090/github-logo_y1nwow.png" height="70">
      <img src="https://res.cloudinary.com/ngdeploy/image/upload/v1468977144/bower-logo_whs6f3.png" height="70">
    </div>
  </div>
</div>


